trace {
  enabled = true
  file = "logs/pipeline_trace.txt"
  field = "task_id,native_id,process,name,status,exit,submit,start,complete,duration,realtime"
}

timeline {
  enabled = true
  file = "logs/timeline.html"
}

report {
  enabled = true
  file = "logs/report.html"
}

manifest {
  homePage = "https://bitbucket.org/pathologyinformatics/genometl"
  description = "GenomETL"
  mainScript = "rename.nf"
  nextflowVersion = ">=21.04.3"
}

params {
  input = "$baseDir/input";
  output = "$baseDir/output";
}

docker {
  enabled = true
  sudo = false
  runOptions = "-u \$(id -u):\$(id -g) -v $baseDir:$baseDir"
}

env {
  TMPDIR = "/tmp"
}

executor {
  name = "local"
  queueSize = 10

  cpus = 4
  time = 4.h
  memory = 8.GB
}

process {
  errorStrategy = { sleep(Math.pow(2, task.attempt) * 200 as long); return "retry" }
  maxRetries = 3

  withLabel: renameBAM {
    container = 'aflanry/samtools:1.10'
  }
  withLabel: renameText {
    container = 'python:3'
  }
  withLabel: renameFolder {
    container = 'python:3'
  }
}